nose
flake8
doc8
jinja2
packaging
imagesize
alabaster
babel
rstcheck>=3.3.1
sphinx
sphinx_rtd_theme
wheel
codecov
dnspython
expiringdict
pyleri
publicsuffix2
requests
timeout-decorator
sphinx
sphinx_rtd_theme
collective.checkdocs
flake8
wheel
