dnspython
expiringdict
pyleri
publicsuffix2
requests
timeout-decorator
nose
pygments
flake8
doc8
collective.checkdocs
jinja2
packaging
imagesize
alabaster
babel
rstcheck>=3.3.1
sphinx
sphinx_rtd_theme
wheel
codecov
