dnspython>=2.0.0
expiringdict>=1.1.4
pyleri>=1.3.2
publicsuffix2>=2.20191221
requests>=2.25.0
timeout-decorator>=0.5.0
flake8>=3.8.4
doc8>=0.8.1
collective.checkdocs>=0.2
rstcheck>=3.3.1
sphinx>=3.3.1
sphinx_rtd_theme>=0.5.0
wheel>=0.35.1
codecov>=2.1.10
