name: Python tests

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test building documentation
      run: |
        cd docs
        make html
    - name: Check code style
      run: |
        ruff check --show-fixes
        black --check --diff .
    - name: Run unit tests
      run: |
        coverage run tests.py
        coverage json
    - name: Test building packages
      run: hatch build
