name: Python tests

permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: "3.6"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test building documentation
      run: |
        cd docs
        make html
    - name: Check code style
      run: |
        flake8 *.py
    - name: Run unit tests
      run: |
        coverage run tests.py
        coverage json
    - name: Test building packages
      run: hatch build
